.mywork {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 80px;
  margin: 80px 170px;
}

.mywork-title {
  position: relative;
}
.mywork-title h1 {
  padding: 0px 30px;
  font-size: 50px;
  font-weight: 700;
}
.mywork-title img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.mywork-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
.mywork-container img {
  width: 419px;
  height: 300px;
  transition: 0.3s;
  cursor: pointer;
  box-sizing: border-box;
}
.mywork-container img:hover {
  transform: scale(1.05);
  border: 3px solid #23f110;
  border-radius: 8px;
  transition: 0.3s;
}
.mywork-showmore {
  display: flex;
  gap: 10px;
  border-radius: 50px;
  border: 2px solid white;
  padding: 10px 20px;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 80px;
  cursor: pointer;
  transition: 0.6s;
}
.mywork-showmore:hover {
  transition: 0.6s;
  gap: 30px;
}
