.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  justify-content: center;
  margin: 80px 170px;
}
.about-title {
  position: relative;
}
.about-title h1 {
  padding: 0px 20px;
  font-size: 50px;
  font-weight: 600;
}
.about-title img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.about-sections {
  display: flex;
  gap: 80px;
}
.about-right {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.about-parag {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 20px;
  font-weight: 400;
}
.about-skills {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about-skill {
  display: flex;
  gap: 10px;
  align-items: center;
  transition: 0.3s;
}
.about-skill p {
  min-width: 150px;
  font-size: 25px;
  font-weight: 500;
}
.about-skill hr {
  border: none;
  outline: none;
  height: 8px;
  width: 50%;
  border-radius: 30px;
  background: linear-gradient(90deg, #ff8a00, #23e32d);
}
.about-achievements {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 80px;
}
.about-achievement {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  transition: 0.3s;
}
.about-achievement h1 {
  font-size: 60px;
  font-weight: 600;
  background: linear-gradient(90deg, #ff8a00, #23e32d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.about-achievement p {
  font-size: 20px;
  font-weight: 500;
}
.about-skill:hover {
  transform: scale(1.05);
  transition: 0.3s;
}
.about-achievement:hover {
  transform: scale(1.05);
  transition: 0.3s;
}
