.navbar {
  justify-content: space-between;
  margin: 20px, 150px;
  display: flex;
  align-items: center;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 60px;
  list-style: none;
  font-size: 18px;
}
.nav-connect {
  padding: 10px 20px;
  border-radius: 30px;
  background: linear-gradient(90deg, #ff8a00, #23e32d);
  font-size: 18px;
  cursor: pointer;
  transition: 0.5s;
}
.nav-connect:hover {
  transform: scale(1.05);
}
